canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
*/
#replay-button {
  width: 128px;
  height: 58px;
  opacity: 0.9;
  margin-top: 50px;
  transition: all 0.2s ease-in-out;
}

#replay-button:hover {
  width: 256px;
  height: 58px;
  opacity: 1.0;
}

#restart-button {
  background-color: #ffffff;
  border: none;
  position: absolute;
  right: 16px;
  bottom: 32px;
  border-radius: 100%;
  width: 58px;
  height: 58px;
  opacity: 0.9;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
}

.bi-arrow-repeat {
  transition: all 0.1s ease-in-out;
}

#restart-button:hover {
  background-color: #ff4242;
  border: none;
  width: 58px;
  height: 58px;
}

#restart-button:hover .bi-arrow-repeat {
  fill: white;
}

#home-button {
  background-color: #ffffff;
  border: none;
  position: fixed;
  right: 16px;
  bottom: calc(32px + 58px + 58px + 58px + 28px);
  border-radius: 100%;
  width: 58px;
  height: 58px;
  opacity: 0.9;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
}

#home-button:hover{
  background-color: #ff4242;
  border: none;
  width: 58px;
  height: 58px;
}

.bi-house {
  transition: all 0.1s ease-in-out;
}

#home-button:hover .bi-house {
  fill: white;
}

#full-button {
  background-color: #ffffff;
  border: none;
  width: 58px;
  height: 58px;
  position: fixed;
  right: 16px;
  bottom: calc(32px + 58px + 58px + 19px);
  border-radius: 100%;
  opacity: 0.9;
  transition: all 0.1s ease-in-out;
}

#full-button:hover {
  background-color: #ff4242;
  border: none;
  width: 58px;
  height: 58px;
}

.bi-arrows-fullscreen {
  transition: all 0.1s ease-in-out;
}

#full-button:hover .bi-arrows-fullscreen {
  fill: white;
}

#back-button {
  background-color: #ffffff;
  border: none;
  width: 58px;
  height: 58px;
  position: absolute;
  right: 16px;
  bottom: calc(32px + 58px + 10px);
  border-radius: 100%;
  opacity: 0.9;
  transition: all 0.1s ease-in-out;
}

.bi-arrow-counterclockwise {
  transition: all 0.1s ease-in-out;
}

#back-button:hover {
  background-color: #ff4242;
  border: none;
  width: 58px;
  height: 58px;
}

#back-button:hover .bi-arrow-counterclockwise {
  fill: white;
}

#submit-button {
  width: 380px;
  height: 32px;
  position: absolute;
  right: 90px;
  bottom: 32px;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
  transition-delay: 0ms;
  background-color: #fa3a45;
  border: none;
  z-index: 90;
}

#submit-button:hover {
  background-color: #fa5b63;
  border: none;
}

#next-button {
  width: 360px;
  height: 32px;
  position: absolute;
  right: 90px;
  bottom: 32px;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
  transition-delay: 0ms;
  background-color: #ffffff;
  border: none;
  z-index: 100;
  color:rgb(255, 62, 62)
}

#next-button:hover {
  background-color: rgb(224, 224, 224);
  border: none;
}

#minimap {
  width: 380px;
  height: 260px;
  background-color: black;
  position: absolute;
  right: 90px;
  bottom: 32px;
  border-radius: 16px;
  z-index: 10;
  opacity: 0.75;
  transition: all 0.15s ease-in-out;
  filter: brightness(1);
  transition-delay: 0ms;
  /*filter: brightness(0.8);*/
}

.resize_minimap {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 72px;
  right: 98px;
  border-radius: 100%;
  z-index: 50;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.resize_minimap:hover {
  opacity: 1;
}

.resizeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#pano {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  background-color: #222222;
}

#score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 64px;
  border-radius: 10px;
  font-size: 2em;
  color: white;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  overflow: hidden;
  color:rgb(56, 56, 56);
  text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px;
  filter: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.5));
  display: none;
}

.btn {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

#overlay {
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  left:0;
  top: 0;
  width:100%;
  height:100%;
}

#close-score {
  width: 64px;
  height: 64px;
  position: absolute;
  right: 2%;
  top: 2.5%;
  border-radius: 10px;
  z-index: 20;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(255, 62, 62);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.undraggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

#score-board {
  position: absolute;
  top: 32px;
  right: 0px;
  width: 380px;
  height: auto;
  z-index: 50;
}

#score-text {
  position: fixed;
  top: 38px;
  right: 196px;
  text-align: left;
  z-index: 100;
  color: rgb(255, 62, 62);
  font-size: 32px;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

#score-value {
  position: fixed;
  top: 36px;
  right: 78px;
  text-align: right;
  z-index: 100;
  color: rgb(22, 22, 22);
  font-size: 32px;
  overflow: visible;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#score-limit {
  position: fixed;
  top: 52px;
  right: 16px;
  text-align: center;
  z-index: 100;
  color: rgb(110, 110, 110);
  font-size: 16px;
  overflow: visible;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#round-text {
  position: fixed;
  top: 94px;
  right: 142px;
  text-align: left;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-size: 24px;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

#round-value {
  position: fixed;
  top: 94px;
  right: 62px;
  text-align: right;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-size: 24px;
  overflow: visible;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#round-limit {
  position: fixed;
  top: 100px;
  right: 32px;
  text-align: center;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-size: 18px;
  overflow: visible;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#time-text {
  position: fixed;
  top: 135px;
  right: 108px;
  text-align: left;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-size: 18px;
  overflow: visible;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  display: none;
}

#time-value {
  position: fixed;
  top: 128px;
  right: 18px;
  text-align: right;
  z-index: 101;
  color: rgb(255, 255, 255);
  font-size: 24px;
  overflow: visible;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#openguessr {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 320px;
  height: auto;
}

#compass_neddle {
  position: absolute;
  bottom: 36px;
  left: 69px;
  width: auto;
  height: 90px;
  z-index: 20;
  transform: rotate(0deg);
}

#compass_background {
  position: absolute;
  bottom: 32px;
  left: 32px;
  background-color: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  z-index: 10;
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}

#compass_background:hover {
  opacity: 1;
}

#compass:hover {
  cursor: pointer;
}

.hor-compass {
	position: relative;
	width: 360px;
	height: 50px;
  left: 0px;
  top: 10px;
	margin: 20px auto;
	/*padding: 20px;*/
	overflow: hidden;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
  mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 85%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 85%, rgba(0,0,0,0) 100%);
}

.hor-compass .hor-bg {
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 200;
  background: url('./img/hor-compass.png');
  background-repeat: no-repeat;
	width: 1080px;
	height: 50px;
  mix-blend-mode: hard-light;
	/*background-size: 100%;*/
}

.hor-compass .hor-line {
	position: absolute;
	top: 0px;
	/*left: 20px;*/
	z-index: 1000;
	background: url('./img/hor-neddle.png');
	width: 1080px;
	height: 50px;
	/*background-size: 100%;*/
}

#hor-compass-bg {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
	top: 0px;
	width: 480px;
	height: 50px;
	z-index: 10;
  opacity: 0.25;
}

#beta_ribbon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 128px;
  height: auto;
  z-index: 50;
  opacity: 1;
}

#upsize_button {
  border-radius: 100%;
  background-color: #ffffff;
  border: none;
}

#downsize_button {
  border-radius: 100%;
  background-color: #ffffff;
  border: none;
}