.FeaturedCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 96px;
}

.Cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.LoaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 14, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.Disappear {
  animation: fadeOut 0.25s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}